<div class="mtb-card">

  <form [formGroup]="viagemForm" (ngSubmit)="salvar()">


    <!-- HEADER -->
    <div class="mtb-card-header gray">
    </div>

    <!-- BODY -->
    <div class="mtb-card-body">

      <div class="row">

        <div class="mtb-column-header col-lg-4 col-xs-4">

          <!-- PERIODO -->
          <h3>Período</h3>
          <mat-form-field style="padding-right: 10px">
            <input matInput [matDatepicker]="picker" placeholder="Saída" [formControl]="f.saidaControl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="float: right">
            <input matInput [matDatepicker]="picker2" placeholder="Retorno" [formControl]="f.retornoControl" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <!-- FUNCIONARIO -->
          <h3>Funcionários</h3>
          <table class="table table-bordered">
            <tbody>
              <tr *ngFor="let item of funcionarios">
                <td>{{item.nome}}</td>
                <td style="width: 50px">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null"
                    [checked]="selection.isSelected(item)">
                  </mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mtb-column-header col-lg-8 col-xs-8">

          <!-- ENTIDADE -->
          <h3 style="width: 50%">Lugares</h3>
          <table class="table table-bordered">
            <tbody>
              <tr *ngFor="let sel of selecionados">
                <td>{{sel.resumo}}</td>
                <td>
                  {{sel.motivo.motivo}}
                </td>
                <td style="width: 40px">
                  <button mat-icon-button (click)="remover(sel)">
                    <i class="material-icons">delete_outline</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <!-- FOOTER -->
    <div class="mtb-card-footer">
      <button mat-raised-button color="primary" [disabled]="viagemForm.invalid">Salvar Viagem</button>
    </div>

  </form>
</div>