<div class="mtb-card">

  <!-- HEADER -->
  <div class="mtb-card-header blue">
    <h3>Criar Viagem</h3>

    <!-- LINHA DE PESQUISA -->
    <div class="row">

      <form [formGroup]="pesquisarForm" (ngSubmit)="adicionar()">

        <!-- ENTIDADE -->
        <div class="col-lg-4 col-xs-4">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Informe um cliente ou evento" aria-label="Number" matInput [formControl]="f.entidadeControl"
              [matAutocomplete]="autoEntidade">
            <mat-autocomplete #autoEntidade="matAutocomplete">
              <mat-option *ngFor="let option of filterEntidade | async" [value]="option.resumo">
                {{option.resumo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- MOTIVO  -->
        <div class="col-lg-4 col-xs-4">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Informe um motivo" aria-label="Number"
              matInput [formControl]="f.motivoControl" [matAutocomplete]="autoMotivo">
            <mat-autocomplete #autoMotivo="matAutocomplete">
              <mat-option *ngFor="let option of filterMotivo | async" [value]="option.motivo">
                {{option.motivo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- BUTTON -->
        <div class="col-lg-4 col-xs-4">
          <button mat-stroked-button color="primary" [disabled]="pesquisarForm.invalid">Adicionar</button>
        </div>

      </form>
    </div>
  </div>

</div>

<div *ngIf="showForm">
  <app-viagem></app-viagem>
</div>